@model IEnumerable<DB.Model.ALL_LICS>
@{int i = 1;}
<p>@ViewBag.Count</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Номер лицевого счета</th>
            <th scope="col">Адрес</th>
            <th scope="col">ФИО</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Items in Model)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@Items.F4ENUMELS</td>
                <td>
                    @{if (Items.UL?.Length > 0)
                        { <span>улица @Items.UL</span>;
                    } }
                    @{if (Items.DOM?.Length > 0)
                        { <span>дом @Items.DOM</span>;
                    } }
                    @{if (Items.KW?.Length > 0)
                        { <span>кв. @Items.KW</span>;
                    } }
                </td>
                 <td>@Items.FIO</td>
                <td>
                    <button name="@Items.F4ENUMELS" class="btn btn-primary ShowInfo"  >Показать подробную информацию</button>
                    <a href="/PersonalData/PersonalInformation?FullLic=@Items.F4ENUMELS" target="_blank" class="btn btn-primary"> Показать подробную информацию2 </a>
            </tr>
            i++;
        }
    </tbody>
</table>
<script>
    $(".ShowInfo").click(function (e) {
        var Lic = $(this).attr("name");
        $.confirm({
            columnClass: 'col-md-6 col-md-offset-3',
            title: 'Информация по лицевому счету ' + Lic,
            type: 'blue',
            content: ' ',
            buttons: {
                "Приборы учета": {
                    text: 'Приборы учета',
                    btnClass: 'btn-primary',
                    action: function() {
                        window.open("/counter/DetailedInformIPU?FULL_LIC=" + Lic, '_blank');
                    }
                },
                "Персональные данные": {
                    text: 'Персональные данные',
                    btnClass: 'btn-primary',
                    action: function () {
                        window.open("/PersonalData/DetailedInformPersData?FULL_LIC=" + Lic, '_blank');
                    }
                },
                //"Судебные дела": {
                //    text: 'Судебные дела',
                //    btnClass: 'btn-primary',
                //    action: function () {
                //        window.open("/counter/DetailedInformIPU?FULL_LIC=" + Lic, '_blank');
                //    }
                //},
                "Закрыть": {
                    text: 'Закрыть',
                    btnClass: 'btn-danger',
                    action: function () {
                        
                    }
                }
                
            }
        });
    })
   
</script>


