@model DB.Model.Court.CourtGeneralInformation
<h2>Банкротство</h2>
<div class="row">
    <div class="col-md-4">
        <label class="col-sm-12 col-form-label">№ банкротного дела:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtBankruptcy.BankruptcyCaseNumber, new { @readonly = "readonly", @class = "form-control", @Value = Model.CourtBankruptcy.BankruptcyCaseNumber })
        </div>
        <label class="col-sm-12 col-form-label">Дата  определения о принятии  заявления о банкротстве судом:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtBankruptcy.DateDeterminationAcceptance, new
            {
                @type = "Date",
                @readonly = "readonly",
                @class = "form-control",
           @Value = (Model.CourtBankruptcy.DateDeterminationAcceptance.HasValue ? Model.CourtBankruptcy.DateDeterminationAcceptance.Value.ToString("yyyy-MM-dd") : string.Empty)
       })
        </div>
        <label class="col-sm-12 col-form-label">Дата решения о признании гражданина банкротом:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtBankruptcy.DateDecisioDeclareCitizenBankrupt, new
            {
                @type = "Date",
                @readonly = "readonly",
                @class = "form-control",
           @Value = (Model.CourtBankruptcy.DateDecisioDeclareCitizenBankrupt.HasValue ? Model.CourtBankruptcy.DateDecisioDeclareCitizenBankrupt.Value.ToString("yyyy-MM-dd") : string.Empty)
       })
        </div>
        <label class="col-sm-12 col-form-label">Дата определения о завершении реализации имущества:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtBankruptcy.DateDeterminationCompletion, new
            {
                @type = "Date",
                @readonly = "readonly",
                @class = "form-control",
           @Value = (Model.CourtBankruptcy.DateDeterminationCompletion.HasValue ? Model.CourtBankruptcy.DateDeterminationCompletion.Value.ToString("yyyy-MM-dd") : string.Empty)
       })
        </div>
        <label class="col-sm-12 col-form-label">Дата принятия заявления нами:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtBankruptcy.DateDeterminationApplication, new
            {
                @type = "Date",
                @readonly = "readonly",
                @class = "form-control",
           @Value = (Model.CourtBankruptcy.DateDeterminationApplication.HasValue ? Model.CourtBankruptcy.DateDeterminationApplication.Value.ToString("yyyy-MM-dd") : string.Empty)
       })
        </div>
        <label class="col-sm-12 col-form-label">Сумма списания всего:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtBankruptcy.SumWriteOff, new { @disabled = "disabled", @class = "form-control", @type = "number", @step = "0.01", @Value = Model.CourtBankruptcy.SumWriteOff })
        </div>
        <label class="col-sm-12 col-form-label">Сумма списания ОД:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtBankruptcy.SumOd, new { @readonly = "readonly", @class = "form-control", @type = "number", @step = "0.01", @Value = Model.CourtBankruptcy.SumOd })
        </div>
        <label class="col-sm-12 col-form-label">Сумма списания пени:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtBankruptcy.SumPeny, new { @readonly = "readonly", @class = "form-control", @type = "number", @step = "0.01", @Value = Model.CourtBankruptcy.SumPeny })
        </div>
        <label class="col-sm-12 col-form-label">Сумма списания ГП:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtBankruptcy.SumGp, new { @readonly = "readonly", @class = "form-control", @type = "number", @step = "0.01", @Value = Model.CourtBankruptcy.SumGp })
        </div>
    </div>
    <div class="col-md-4">
        <label class="col-sm-12 col-form-label">Начальный период списания:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtBankruptcy.DateWriteOffBegin, new
            {
                @type = "Date",
                @readonly = "readonly",
                @class = "form-control",
           @Value = (Model.CourtBankruptcy.DateWriteOffBegin.HasValue ? Model.CourtBankruptcy.DateWriteOffBegin.Value.ToString("yyyy-MM-dd") : string.Empty)
       })
        </div>
        <label class="col-sm-12 col-form-label">Конечный период списания:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtBankruptcy.DateWriteOffEnd, new
            {
                @type = "Date",
                @readonly = "readonly",
                @class = "form-control",
           @Value = (Model.CourtBankruptcy.DateWriteOffEnd.HasValue ? Model.CourtBankruptcy.DateWriteOffEnd.Value.ToString("yyyy-MM-dd") : string.Empty)
       })
        </div>
        <label class="col-sm-12 col-form-label">Статус списания:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtBankruptcy.WriteOffStatus, new { @readonly = "readonly", @dicId = "11", @class = "form-control DictionaryAutoComplete", @Value = Model.CourtBankruptcy.WriteOffStatus })
        </div>
        <label class="col-sm-12 col-form-label">Дата списания:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtBankruptcy.DateWrite, new
            {
                @type = "Date",
                @readonly = "readonly",
                @class = "form-control",
           @Value = (Model.CourtBankruptcy.DateWrite.HasValue ? Model.CourtBankruptcy.DateWrite.Value.ToString("yyyy-MM-dd") : string.Empty)
       })
        </div>
        <label class="col-sm-12 col-form-label">Примечание:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtBankruptcy.Comment, new { @readonly = "readonly", @class = "form-control", @Value = Model.CourtBankruptcy.Comment })
        </div>
    </div>
</div>

<script>
    $(document).ready(function (e) {
        $("#CourtBankruptcy_SumOd").keyup(function () {
            let sum = +$("#CourtBankruptcy_SumOd").val() + +$("#CourtBankruptcy_SumPeny").val() + +$("#CourtBankruptcy_SumGp").val();
            $("#CourtBankruptcy_SumWriteOff").val(sum.toFixed(2))
        })
        $("#CourtBankruptcy_SumPeny").keyup(function () {
            let sum = +$("#CourtBankruptcy_SumOd").val() + +$("#CourtBankruptcy_SumPeny").val() + +$("#CourtBankruptcy_SumGp").val();
            $("#CourtBankruptcy_SumWriteOff").val(sum.toFixed(2))
        })
        $("#CourtBankruptcy_SumGp").keyup(function () {
            let sum = +$("#CourtBankruptcy_SumOd").val() + +$("#CourtBankruptcy_SumPeny").val() + +$("#CourtBankruptcy_SumGp").val();
            $("#CourtBankruptcy_SumWriteOff").val(sum.toFixed(2))
        })
    })
</script>

