@model DB.Model.Court.CourtGeneralInformation
@{var Documents = Model.CourtDocumentScans.OrderByDescending(x => x.DocumentDateUpload).ToList(); }
<h2>Документы</h2>
<div class="container">
    <form class="form form-inline" role="form">

        <div class="form-group col-xs-12 col-sm-6 col-lg-4">
            <label for="InputFieldA" class="col-xs-4">Выберите файл</label>
            <div class="col-xs-8">
                <input name="FileLoad" class="form-control file" type="file" />
            </div>
        </div>

       
        <div class="form-group col-xs-12 col-sm-6 col-lg-4">
            <label for="InputFieldC" class="col-xs-4">Название файла</label>
            <div class="col-xs-8">
                <input type="text" autocomplete="off"  id="NameFile" placeholder="Название файла" class="form-control NameFileFile DictionaryAutoCompleteNotRequired" dicId="15" name="NameFile" value="" />
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-lg-4">
            <input type="text" class=" LicFile" hidden="hidden" name="Lic" value="@Model.Lic" />
            <input type="number" class="CourtId" hidden="hidden" name="CourtId" value="@Model.Id" />
            <input type="button" id="AddDocCourt" class="btn btn-primary" value="Добавить" />
        </div>
    </form>
</div>
<div id="ResultAllFiles">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Наименование документа</th>
                <th scope="col">Дата загрузки документа</th>
                <th scope="col">Испольнитель</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var Item in Documents)
            {

                <tr>
                    <th scope="row">@Item.CourtDocumentScansName</th>
                    <td>@Item.DocumentDateUpload</td>
                    <td>@Item.Executor</td>
                    <td>
                        <a  href="/Court/DownloadFile?Id=@Item.Id">Скачать</a>
                        <a class="DeleteDocument" name="@Item.Id" style="color: red;cursor:pointer">Удалить</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<script>
    function UpdateDocuments() {
        $.ajax({
            url: "/Court/PartialViewGetAllFilesInCourt?Id=" + $('.CourtId').val(),
            success: function (data) {
                $("#ResultAllFiles").empty();
                $("#ResultAllFiles").append(data);

                $("#AddDocCourt").prop('hidden', false);

            },
            error: function (data) {
                alert('Ошибка обратитесь к системному администратору!');
                $(".loader").addClass("hidden");
                $("#AddDocCourt").prop('hidden', false);
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }
    $(document).ready(function (e) {
        $(".DeleteDocument").click(function (e) {
            $.ajax({
                url: "/Court/DeleteFile?Id=" + $(".DeleteDocument").attr("name"),
                type: "Get",
                success: function (data) {
                    $(".loader").addClass("hidden");
                    UpdateDocuments();
                    $("#AddDocCourt").prop('hidden', false);

                },
                error: function (data) {
                    alert('Ошибка обратитесь к системному администратору!');
                    $(".loader").addClass("hidden");
                    $("#AddDocCourt").prop('hidden', false);
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });
        $("#AddDocCourt").click(function (e) {
            console.log("Click");
            var formData = new FormData();
            formData.append('FileLoad', $('.file')[0].files[0]);
            formData.append('NameFile',$('.NameFileFile').val());
            formData.append('Lic', $('.LicFile').val());
            formData.append('CourtId', $('.CourtId').val());
            if ($('.NameFileFile').val() == '') {
                $('.NameFileFile').addClass("Required");
            } else {
                $('.NameFileFile').remove("Required");
                $(".loader").removeClass("hidden");
                $("#AddDocCourt").prop('hidden', true);
                $.ajax({
                    url: "/Court/SaveFile",
                    type: "POST",
                    data: formData,
                    async: true,
                    success: function (data) {
                        alert(data.result);
                        $(".loader").addClass("hidden");
                        UpdateDocuments();
                        $("#AddDocCourt").prop('hidden', false);

                    },
                    error: function (data) {
                        alert('Ошибка обратитесь к системному администратору!');
                        $(".loader").addClass("hidden");
                        $("#AddDocCourt").prop('hidden', false);
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });
            }
            return false;
        });
    })
</script>
