
@{
    ViewBag.Title = "PartialViewRole";
}

<h2>Выдача прав и удаление пользователей</h2>
<div class="row">
    <div class="col-md-4">
        <label class="col-sm-4 col-form-label">Роль</label>
        <div class="col-sm-8">
            <select id="RoleUserAdd" class="form-control">
                <option>Выберите роль</option>
                @foreach (var Item in ViewBag.Roles)
                {
                    <option value="@Item.Id">@Item.Description</option>
                }
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <label class="col-sm-4 col-form-label">Пользователь</label>
        <div class="col-sm-8">
            <input id="UserRoleAdd" class="form-control EmployeeAutoComplete" />
            @*<select id="UserRoleAdd" class="form-control">
                <option>Выберите пользователя</option>
                @foreach (var Item in ViewBag.User)
                {
                    <option value="@Item.Id">@Item.FIO</option>
                }
            </select>*@
        </div>
    </div>
    <div class="col-md-4">
        <button id="AddRole" class="btn btn-success">Сохранить</button>
    </div>
</div>
<hr />
<br />
<div class="row text-center">
    <div class="col-md-10 text-center">
        <div class="col-md-4">
            <input id="SearchUser" class="form-control EmployeeAutoComplete" />
            @*<select id="SearchUser" class="form-control">
                <option>Пользователь</option>
                @foreach (var Item in ViewBag.User)
                {
                    <option value="@Item.Id">@Item.FIO</option>
                }
            </select>*@
        </div>
        <div class="col-md-4">
            <button id="SearchRole" class="btn btn-success">Найти</button>
        </div>
        <div class="col-md-4">
            <button id="DeleteUser" class="btn btn-danger">Удалить</button>
        </div>
    </div>
</div>
<hr />
<div id="SearchUserRsult"></div>
<script>
    $(document).ready(function (e) {
        let SelectUserId = '';
        $("#SearchRole").click(function (e) {
            $.ajax({
                url: '/Admin/GetUserRoleInfo?UserId=' + SelectUserId,
                success: function (data) {
                    $("#SearchUserRsult").empty();
                    $("#SearchUserRsult").append(data);
                },
                error: function () {
                    $("#SearchUserRsult").append("Что то пошло не так. Обратитесь к администратору!");
                }
            });
        })
        $("#DeleteUser").click(function (e) {
            $.ajax({
                url: '/Admin/DeleteUser?UserId=' + SelectUserId,
                success: function (data) {
                    alert("Пользователь успешно удален");
                    //$("#SearchUserRsult").empty();
                    //$("#SearchUserRsult").append(data);
                },
                error: function () {
                    //$("#SearchUserRsult").append("Что то пошло не так. Обратитесь к администратору!");
                }
            });
        })
        $("#AddRole").click(function (e) {
            var UserId = SelectUserId;
            var UserRoleId = $("#RoleUserAdd").val();
            $.ajax({
                url: '/Admin/AddRole?UserId=' + UserId + '&UserRoleId=' + UserRoleId,
                success: function (data) {
                    alert(data);
                    $("#SearchRole").click();
                },
                error: function () {
                    alert("Что то пошло не так. Обратитесь к администратору!");
                }
            });
        })
        var selectDic = true;
        $('.EmployeeAutoComplete').keyup(function () {
            val = $(this).val();
            console.log(val)
            return;
        }).autocomplete({
            delay: 500,
            source: function (request, response) {
                $.ajax({
                    url: "/Admin/GetEmployee?FullName=" + val, type: "Get", dataType: "json",
                    data: { id: request.term },

                    success: function (data) {
                        if (data.length == 1) {
                            if (val == data[0]) {
                                selectDic = false;
                                return { label: item.FIO, value: item.FIO, id: item.Id };
                            }
                        }
                        if (data.length > 0) {
                            response($.map(data, function (item) {
                                selectDic = true;
                                return { label: item.FIO, value: item.FIO, id: item.Id };
                            }));
                        } else {
                            selectDic = true;
                            response([{ label: 'Не найдено.', val: -1 }]);
                        }

                    },
                });
            },
            minLength: 0,
            select: function (event, ui) {
                selectDic = false;
                SelectUserId = ui.item.id;
            }
        }).focus(function () {
            if ($(this).attr("readonly") == undefined) {
                val = $(this).val();
                $(this).autocomplete("search");
            }
        }).focusout(function (e) {
            if ($(this).attr("readonly") == undefined) {
                if (selectDic == true) {
                    $(this).val("");
                    selectDic = false;
                }
            }
        })
    });
</script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

