@using BE.Admin.Enums
@{
    ViewBag.Title = "PartialViewReport";
}

<div class="container">

    @if (User.IsInRole("Admin"))
    {
        <div style="margin-top:30px;" class="row">
            <div class="col-md-8">
                <select id="FileTemplateType" name="FileTemplateType" class="form-control" aria-label="Default select">
                    <option selected>Выберите Шаблон</option>
                    <option value="1">Изменение информации ПУ</option>
                    <option value="2">Шаблон загрузки персов</option>
                </select>
            </div>

            <div class="col-md-4">
                <input type="submit" id="CreateTemplateFile" class="btn btn-success" value="Скачать" />
            </div>
        </div>
    }
    <hr />
    @if (User.IsInRole("Admin"))
    {
        <div style="margin-top:30px;" class="row">
            <div class="col-md-3">
                <select id="FileType" name="FileType" class="form-control" aria-label="Default select">
                    <option selected>Выберите отчет</option>
                    <option value="1">ИПУ_отчет из counters</option>
                    <option value="2">Отчёт_lic текущий </option>
                    <option value="3">Отчёт_Log pers</option>
                    <option value="4">Отчёт_Log conters</option>
                    <option value="5">EBD общий</option>
                    <option value="8">EBD MKD</option>
                    <option value="9">EBD FLAT жп</option>
                    <option value="10">EBD FLAT нжп</option>
                    <option value="11">EBD FLAT точечный</option>
                    <option value="12">EBD MKD точечный</option>
                    <option value="6">выгрузка ИПУ  ГВС Т+</option>
                    <option value="7">выгрузка ИПУ ОТП Т+</option>
                    <option value="13">Сводный отчёт ОТП</option>
                    <option value="14">Сводный отчёт ГВС</option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="date" id="DateReportFileFrom" class="form-control" />
                <div>Последняя выгрузка EBD @ViewBag.LastLoadEbd</div>
            </div>
            <div class="col-md-3">
                <input type="date" id="DateReportFileTill" class="form-control" />
                <div>Последняя выгрузка EBD @ViewBag.LastLoadEbd</div>
            </div>
            <div class="col-md-2">
                <input name="UserCreateReportlFile" id="UserCreateReportlFile" value="@User.Identity.Name" hidden class="form-control hidden" />
                <input type="submit" id="CreateReportlFile" class="btn btn-success" value="Скачать" />
            </div>
        </div>
    }
    <hr />
    @using (Html.BeginForm("DownloadReport", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        if (User.IsInRole("Admin"))
        {
            <div style="margin-top:30px;" class="row">

                <div class="col-md-4">
                    <select id="TypeReport" name="TypeReport" class="form-control" aria-label="Default select">
                        <option selected>Выбор отчета</option>
                        <option value="@((int)ApiReportEnums.GetSberbankInvoicesOldFormat)" data-toggle="tooltip" title="Укажите период">Выгрузка в Сбербанк старый формат</option>
                        <option value="@((int)ApiReportEnums.GetSberbankInvoices)" data-toggle="tooltip" title="Укажите период">Выгрузка в Сбербанк</option>
                        <option value="@((int)ApiReportEnums.GetSberbankCounters)" data-toggle="tooltip" title="Укажите период">Выгрузка в Сбербанк счётчики</option>
                        <option value="@((int)ApiReportEnums.GetRecalculation)" data-toggle="tooltip" title="Укажите период">Отчёт по перерасчётам</option>
                        <option value="@((int)ApiReportEnums.GetNss)" data-toggle="tooltip" title="Укажите период и добавьте файл">Отчёт НСС РКС Пенза</option>
                        <option value="@((int)ApiReportEnums.GetSubagent)" data-toggle="tooltip" title="Укажите период">Отчёт по перерасчётам</option>
                        <option value="@((int)ApiReportEnums.GetShortSaldo)" data-toggle="tooltip" title="Укажите период">Свёрнутая сальдовая ведомость</option>
                        <option value="@((int)ApiReportEnums.GetFullSaldo)" data-toggle="tooltip" title="Укажите период">Оборотно-сальдовая ведомость</option>
                        <option value="@((int)ApiReportEnums.GetInvoices)" data-toggle="tooltip" title="Укажите период">Информация по начислению пени</option>
                        <option value="@((int)ApiReportEnums.GetNssErrors)" data-toggle="tooltip" title="Добавьте файл">Отчёт об ошибках НСС</option>
                        <option value="@((int)ApiReportEnums.GetConsumerData)" data-toggle="tooltip" title="Укажите период">Сводный отчёт Субагента об объёме потребления по лицевым счетам клиентов</option>
                        <option value="@((int)ApiReportEnums.GetNssWithRecalculations)" data-toggle="tooltip" title="Укажите период">Отчёт НСС РКС Пенза</option>
                        <option value="@((int)ApiReportEnums.GenerateCheckoutReport)" data-toggle="tooltip" title="Укажите период">Выгрузка для проверки отчётов</option>
                        <option value="@((int)ApiReportEnums.CheckPreliminariesReports)" data-toggle="tooltip" title="Добавьте файл">Результаты проверки предварительных отчётов</option>
                        <option value="@((int)ApiReportEnums.CheckMainReports)" data-toggle="tooltip" title="Добавьте файл">Результаты проверки основных отчётов</option>
                        <option value="@((int)ApiReportEnums.GetSummaryInvoices)" data-toggle="tooltip" title="Укажите период">Сводный отчёт Субагента об объёме начисления по лицевым счетам клиентов</option>
                        <option value="@((int)ApiReportEnums.GetReadingsQuantity)" data-toggle="tooltip" title="Укажите период">Количество показаний ПУ</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="date" id="ReportDate" name="ReportDate" class="form-control" value="" />
                </div>
                <div class="col-md-3">
                    @Html.TextBox("file", "", new { type = "file", @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn btn-success" value="Загрузить" />
                </div>
            </div>
        }
    }
</div>
<br />
<div class="progress hidden">
    <div class="progress-bar  " id="LoadingProcent" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>
<div id="ResultCreateReportlFile" class="hidden">
    <textarea id="msgCreateReportlFile" style="width: 100%;" class="form-control"></textarea>
</div>

<script>
    $(document).ready(function (e) {
        $("#TypeReport").change(function (event) {
            $.each($(this).find('option'), function (key, value) {
                $(value).removeClass('active');
            })
            $('option:selected').addClass('active');

        });
        $("#TypeReport").tooltip({
            placement: 'right',
            trigger: 'hover',
            container: 'body',
            title: function (e) {
                return $(this).find('.active').attr('title');
            }
        });
        $("#CreateReportlFile").click(function () {
            location.href = '/Counter/Export?typeFile=' + $("#FileType").val() + '&dateTimeFrom=' + $("#DateReportFileFrom").val() + '&dateTimeTill=' + $("#DateReportFileTill").val();
        })
        $("#CreateTemplateFile").click(function () {
            location.href = '/Counter/LoadTemplate?typeFile=' + $("#FileTemplateType").val();
        })
        $(".loader").addClass("hidden");
        var i = 0;
        ///Обновление файлов
        $("#UploadFilePU").click(function (e) {
            $("#LoadingProcent").parent().removeClass("hidden");
            var Cashe = $('#User').val();
            var intervalID = setInterval(function () {
                $.ajax({
                    url: '/Counter/GetProgress?Name=' + Cashe + '_',
                    success: function (data) {
                        i = data;
                    },
                    error: function () {
                        i = "Что то пошло не так. Обратитесь к администратору! Это ошибка связана с показанием процентов загрузки";
                    }
                });
                // Добавляем ноль в начало цифры, которые до 10
                $("#LoadingProcent").css('width', i + '%');
                $("#LoadingProcent").text(i + '%');
                if (i === 100) { clearInterval(intervalID); $("#LoadingProcent").parent().addClass("hidden"); }
            }, 3000);
        })
        ///Создание файлов
        $("#CreateReportlFile").click(function (e) {
            $("#ResultCreateReportlFile").removeClass("hidden");
            $("#msgCreateReportlFile").empty();
            var Cashe = $('#UserCreateReportlFile').val();
            var intervalID = setInterval(function () {
                $.ajax({
                    url: '/Counter/GetProgress?Name=' + Cashe + '_',
                    success: function (data) {
                        i = data;
                    },
                    error: function () {
                        i = "Что то пошло не так. Обратитесь к администратору!";
                    }
                });
                // Добавляем ноль в начало цифры, которые до 10
                $('#msgCreateReportlFile').val(i);
                if (i === "Ожидайте... Идет скачивание файла.") { clearInterval(intervalID); }
            }, 3000);
        })
    });
</script>
