@model DB.Model.Court.CourtGeneralInformation
<h2>Рассрочка</h2>
<div class="row">
    <div class="col-md-4">
        <label class="col-sm-12 col-form-label">Дата  принятия заявления на  реструктуризацию (рассрочку):</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtInstallmentPlan.DateAcceptanceApplicationRestructuring, new { @type="Date", @readonly = "readonly", @class = "form-control",
           @Value = (Model.CourtInstallmentPlan.DateAcceptanceApplicationRestructuring.HasValue ? Model.CourtInstallmentPlan.DateAcceptanceApplicationRestructuring.Value.ToString("yyyy-MM-dd") : string.Empty)
       })
        </div>
        <label class="col-sm-12 col-form-label">Сумма Реструктуризации (рассрочки):</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtInstallmentPlan.AmountRestructuring, new { @readonly = "readonly", @class = "form-control", @Value = Model.CourtInstallmentPlan.AmountRestructuring })
        </div>
        <label class="col-sm-12 col-form-label">Начальный месяц реструктуризации:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtInstallmentPlan.StartingMonthRestructuring, new { @type = "Date", @readonly = "readonly", @class = "form-control",
           @Value = (Model.CourtInstallmentPlan.StartingMonthRestructuring.HasValue ? Model.CourtInstallmentPlan.StartingMonthRestructuring.Value.ToString("yyyy-MM-dd") : string.Empty)
       })
        </div>
        <label class="col-sm-12 col-form-label">Конечный месяц реструктуризации:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtInstallmentPlan.FinalMonthRestructuring, new { @type = "Date", @readonly = "readonly", @class = "form-control", 
           @Value = (Model.CourtInstallmentPlan.FinalMonthRestructuring.HasValue ? Model.CourtInstallmentPlan.FinalMonthRestructuring.Value.ToString("yyyy-MM-dd") : string.Empty)
       })
        </div>
        <label class="col-sm-12 col-form-label">Сумма ежемесячного платежа по реструктуризации:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtInstallmentPlan.AmountMonthlyRestructuringPayment, new { @readonly = "readonly", @class = "form-control", @Value = Model.CourtInstallmentPlan.AmountMonthlyRestructuringPayment })
        </div>
        <label class="col-sm-12 col-form-label">Дата оплаты по реструктуризации:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtInstallmentPlan.RestructuringPaymentDate, new { @type = "Date", @readonly = "readonly", @class = "form-control", 
           @Value = (Model.CourtInstallmentPlan.RestructuringPaymentDate.HasValue ? Model.CourtInstallmentPlan.RestructuringPaymentDate.Value.ToString("yyyy-MM-dd") : string.Empty)
       })
        </div>
        <label class="col-sm-12 col-form-label">Сумма оплаты по реструктуризации:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtInstallmentPlan.AmountPaymentRestructuring, new { @readonly = "readonly", @class = "form-control", @Value = Model.CourtLitigationWork.HowSubmitApplicationCourt })
        </div>
        <label class="col-sm-12 col-form-label">Примечание:</label>
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.CourtInstallmentPlan.Comment, new { @readonly = "readonly", @class = "form-control", @Value = Model.CourtInstallmentPlan.Comment })
        </div>
    </div>
</div>
