@model IEnumerable<DB.Model.ManualRecalculationsByFullLic>
@{
    ViewBag.Title = "Текущие перерасчеты";
}
@using BE.Roles;

<div class="col-md-6">
    <button id="ClosePage" class="btn btn-success">Закрыть страницу</button>
</div>
<div class="col-md-12">
        
    <div class="col-md-6">
        <h2>Текущие перерасчеты</h2>
    </div>
    <div class="col-md-6" style="margin-top:26px" >
        @if (User.IsInRole(RolesEnums.Recalculation) || User.IsInRole(RolesEnums.SuperAdmin))
        {
            <button style="float:right;" name="" class="btn btn-primary RecalculationPartitial" data-toggle="modal" data-target="#RecalculationPartitialModal">Перерасчет</button>
        }
    </div>
</div>
<div class="col-md-12 text-center">
    <h4>Текущие перерасчеты по лицевому счету № @ViewBag.FULL_LIC</h4>
</div>
<table class="table table-bordered">
    <tbody style="background-color:white">
        <tr>
            <td class="text-center font-weight-bold" scope="col">Интервал перерасчета</td>
            <td class="text-center font-weight-bold" scope="col">Услуга</td>
            <td class="text-center font-weight-bold" scope="col">Причина</td>
            <td class="text-center font-weight-bold" scope="col">Сумма</td>
            <td class="text-center font-weight-bold" scope="col">Примечание</td>
            <td class="text-center font-weight-bold" scope="col">Действие</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center" scope="col">@item.RecalculationRange</td>
                <td class="text-center" scope="col">@item.ServiceName</td>
                <td class="text-center" scope="col">@item.RecalculationReason</td>
                <td class="text-center" scope="col">@item.RecalculationValue</td>
                <td class="text-center" scope="col">@item.Comment</td>
                @if (item.ServiceName != "Итого")
                {
                    <td class="text-center" scope="col"><a href="/PersonalData/RemoveRecalculation?FullLic=@ViewBag.FULL_LIC&id=@item.Guid&serviceId=@item.ServiceId" style="color:red;">Удалить</a></td>
                }
            </tr>
        }
    </tbody>
    <tbody>
    </tbody>
</table>
<div id="RecalculationPartitial"></div>
<script>
    $(document).ready(function () {
        $("#ClosePage").click(function () {
            window.history.back();
           // window.close();
        })
        $(".RecalculationPartitial").click(function (e) {
            $.ajax({
                url: '/PersonalData/RecalculationPartitialView?FullLic=' +@ViewBag.FULL_LIC,
                type: 'Get',
                async: false,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#RecalculationPartitial").empty();
                    $("#RecalculationPartitial").append(data);
                    $(".loader").addClass("hidden");
                },
                error: function () {
                    alert("Что то пошло не так. Обратитесь к администратору");
                }
            });

        })
    });
</script>

