
@model IEnumerable<DB.Model.PersData>
@{
    ViewBag.Title = "Датальная информация";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

@if (Model.Count() > 0)
{
    <div class="container">
        <h3 class="text-center">Детальная информация по ранее проживающим по лицевому счету  @Model.FirstOrDefault().Lic</h3>
        <div class="col-md-12">
            <button id="CloseLock" name="@Model.FirstOrDefault().Lic" class="btn btn-success">Закрыть страницу</button>
        </div>
        <div id="ResultSearchSave"></div>
    </div>
    <div class="loader">
        <div class="inner one"></div>
        <div class="inner two"></div>
        <div class="inner three"></div>
    </div>
    <div class="row">
        @foreach (var Items in Model)
        {
            <div style="margin-top:10px;" class="card">
                
                <hr />
                <div class="card-body field">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Фамилия:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" id="LastName" class="form-control " value="@Items.LastName" />
                                </div>
                                <label class="col-sm-4 col-form-label">Имя:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" id="FirstName" class="form-control " value="@Items.FirstName" />
                                    @*<input type="date" readonly="readonly" id="INSTALLATIONDATE" class="form-control" value="@string.Format("{0:yyyy-MM-dd}", Items.MiddleName)" />*@
                                </div>
                                <label class="col-sm-4 col-form-label">Отчество:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" id="MiddleName" class="form-control " value="@Items.MiddleName" />
                                </div>
                                <label class="col-sm-4 col-form-label">Дата рождения:</label>
                                <div class="col-sm-8">
                                    <input type="date" readonly="readonly" id="DateOfBirth" class="form-control " value="@string.Format("{0:yyyy-MM-dd}", Items.DateOfBirth)" />
                                </div>
                                <label class="col-sm-4 col-form-label">Место рождения:</label>
                                <div class="col-sm-8">
                                    <textarea readonly="readonly" id="PlaceOfBirth" class="form-control ">@Items.PlaceOfBirth </textarea>
                                </div>
                                <label class="col-sm-4 col-form-label">СНИЛС:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" id="SnilsNumber" class="form-control " value="@Items.SnilsNumber" />
                                </div>
                                <label class="col-sm-4 col-form-label">ИНН:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" id="Inn" class="form-control " value="@Items.Inn" />
                                </div>
                                <div class="col-sm-12 text-center">
                                    <p>Паспортные данные</p>
                                </div>
                                <label class="col-sm-4 col-form-label">Cерия:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" id="PassportSerial" class="form-control PassportSerial" value="@Items.PassportSerial" />
                                </div>
                                <label class="col-sm-4 col-form-label">Номер:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" id="PassportNumber" class="form-control PassportNumber" value="@Items.PassportNumber" />
                                </div>
                                <label class="col-sm-4 col-form-label">Дата выдачи:</label>
                                <div class="col-sm-8">
                                    <input type="date" readonly="readonly" id="PassportDate" class="form-control " value="@string.Format("{0:yyyy-MM-dd}", Items.PassportDate)" />
                                </div>
                                <label class="col-sm-4 col-form-label">Кем выдан:</label>
                                <div class="col-sm-8">
                                    <textarea readonly="readonly" id="PassportIssued" class="form-control PassportIssued">@Items.PassportIssued</textarea>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <div class="col-md-6">

                            <label class="col-sm-4 col-form-label">Телефон1:</label>
                            <div class="col-sm-8">
                                <input type="text" readonly="readonly" id="Tel1" class="form-control" value="@Items.Tel1" />
                                <textarea readonly="readonly" id="Comment1" class="form-control">@Items.Comment1</textarea>
                            </div>
                            <label class="col-sm-4 col-form-label">Телефон2:</label>
                            <div class="col-sm-8">
                                <input type="text" readonly="readonly" id="Tel2" class="form-control" value="@Items.Tel2" />
                                @*<textarea readonly="readonly" id="Comment2" class="form-control">@Items.Comment2</textarea>*@
                            </div>
                            <label class="col-sm-4 col-form-label">Email:</label>
                            <div class="col-sm-8">
                                <input type="text" readonly="readonly" id="Email" class="form-control" value="@Items.Email" />
                                @*<textarea readonly="readonly" id="Comment2" class="form-control">@Items.Comment2</textarea>*@
                            </div>
                            <label class="col-sm-4 col-form-label">Вид собственности:</label>
                            <div class="col-sm-8">
                                <input type="text" readonly="readonly" id="RoomType" class="form-control" value="@Items.RoomType" />
                            </div>
                            @if (Items.Main == true)
                            {
                                <label class="col-sm-4 col-form-label">Количество человек:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" id="NumberOfPersons" class="form-control" value="@Items.NumberOfPersons" />
                                </div>
                                <label class="col-sm-4 col-form-label">Площадь:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" id="Square" class="form-control" value="@Items.Square" />
                                </div>
                                <label class="col-sm-4 col-form-label">Льгота:</label>
                                <div class="col-sm-8">
                                    <label class="col-sm-4 col-form-label">@Items.Benefit.Name</label>
                                </div>
                                <label class="col-sm-4 col-form-label">Категория помещения:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" id="FlatType" name="@ViewBag.FlatType.FlatTypeId" class="form-control" value="@ViewBag.FlatType.FlatType" />
                                </div>
                            }
                            else
                            {
                                <label class="col-sm-4 col-form-label">Количество человек:</label>
                                <div class="col-sm-8">
                                    <label class="col-sm-4 col-form-label">@Items.NumberOfPersons</label>
                                </div>
                                <label class="col-sm-4 col-form-label">Площадь:</label>
                                <div class="col-sm-8">
                                    <label class="col-sm-4 col-form-label">@Items.Square</label>
                                </div>
                                <label class="col-sm-4 col-form-label">Льгота:</label>
                                <div class="col-sm-8">
                                    <label class="col-sm-4 col-form-label">@Items.Benefit.Name</label>
                                </div>
                                <label class="col-sm-4 col-form-label">Категория помещения:</label>
                                <div class="col-sm-8">
                                    <label>@ViewBag.FlatType.FlatType</label>
                                </div>
                            }
                            <label class="col-sm-4 col-form-label">Комментарий:</label>
                            <div class="col-sm-8">
                                <textarea readonly="readonly" id="Comment" class="form-control">@Items.Comment</textarea>
                            </div>
                            <input type="text" hidden="hidden" id="FIO" name="@Items.FirstName @Items.MiddleName @Items.LastName" class="FIO" value="@Items" />
                            <input type="checkbox" hidden="hidden" id="Main" name="" class="" checked="@Items.Main" />
                            <input type="text" hidden="hidden" id="Lic" name="" class="" value="@Items.Lic" />
                            @if (Items.PersDataDocument.Count() > 0)
                            {
                                <p class="text-center">
                                    <a style="margin-top:15px;" class="btn btn-primary" data-toggle="collapse" href="#DocColapse_@Items.idPersData"
                                       role="button" aria-expanded="false" aria-controls="DocColapse">Документы для скачивания</a>
                                <p>Количество документов @Items.PersDataDocument.Count()</p>
                                </p>
                                <div class="row">
                                    <div class="col">
                                        <div class="collapse multi-collapse" id="DocColapse_@Items.idPersData">
                                            <div>
                                                @foreach (var Item in Items.PersDataDocument)
                                                {
                                                    <div class="col-sm-6 text-center">
                                                        <a href="/PersonalData/DownLoadFile?Id=@Item.id" target="_blank">Скачать @Item.DocumentName</a>
                                                        <label style="margin-left:20px;cursor:pointer" class="NullOrEmpty">
                                                            <input type="text" class="FileName" hidden="hidden" value="@Item.DocumentName" />
                                                            <button name="@Item.id" class="DeleteFile">X</button>
                                                        </label>
                                                    </div>
                                                }
                                                <div class="col-sm-12 text-center">
                                                    <div class="form-group">
                                                        <div class="col-sm-6">
                                                            <input name="FileLoad" class="form-control hidden file" type="file" />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <input type="text" id="NameFile" placeholder="Название файла" class="form-control NameFileFile hidden" name="NameFile" value="" />
                                                        </div>
                                                        <input type="text" class=" LicFile" hidden="hidden" name="Lic" value="@Items.Lic" />
                                                        <input type="number" class="idPersDataFile" hidden="hidden" name="idPersData" value="@Items.idPersData" />
                                                        <input type="text" class=" FioFile" hidden="hidden" name="Fio" value="@Items.FirstName @Items.LastName @Items.MiddleName" />
                                                        <input type="submit" class="btn btn-primary hidden  AddDoc" value="Добавить" />
                                                    </div>
                                                    @*<input type="button" value="Добавить" class="btn btn-primary hidden  AddDoc" />*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-12 text-center"><p class="NullOrEmpty">Нет документов для скачивания</p></div>
                                <div class="col-sm-12 text-center">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <input name="FileLoad" class="form-control hidden file" type="file" />
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" id="NameFile" placeholder="Название файла" class="form-control NameFileFile hidden" name="NameFile" value="" />
                                        </div>
                                        <input type="text" class=" LicFile" hidden="hidden" name="Lic" value="@Items.Lic" />
                                        <input type="number" class="idPersDataFile" hidden="hidden" name="idPersData" value="@Items.idPersData" />
                                        <input type="text" class=" FioFile" hidden="hidden" name="Fio" value="@Items.FirstName @Items.LastName @Items.MiddleName" />
                                        <input type="submit" class="btn btn-primary hidden  AddDoc" value="Добавить" />
                                    </div>
                                    @*<input type="button" value="Добавить" class="btn btn-primary hidden  AddDoc" />*@
                                </div>
                            }
                        </div>
                    </div>

                        <input type="button" name="@Items.idPersData" class="btn btn-primary HistoryEdit" value="История изменения" data-toggle="modal" data-target="#HistoryEditModal" />
                </div>
            </div>
        }
    </div>
}
else
{
<div class="container">
    <h3 class="text-center"></h3>
    <h1 class="text-center NullOrEmpty">По лицевому счету @ViewBag.FULL_LIC ничего не найдено</h1>
    <div class="col-md-12">
        <button id="CloseLock" name="@ViewBag.FULL_LIC" class="btn btn-success">Закрыть страницу</button>
    </div>
    <div id="ResultSearchSave"></div>
</div>

}
<div id="ResultArchive"></div>
<div id="HistoryEdit"></div>

<script>
   
    $(document).ready(function (e) {
        $(".DeleteFile").click(function (e) {
            var IdFile = $(this).attr('name');
            var FileName = $(this).parent().find('.FileName').val()
            $.confirm({
                title: 'Предупрждение!',
                content: 'Внимание вы пытаетесь удалить файл ' + FileName + ' !!!',
                buttons: {
                    "Да": function () {
                        $.ajax({
                            url: '/PersonalData/DeleteFile?Id=' + IdFile,
                            type: 'Get',
                            success: function (data) {
                                // alert(data + " Страница сейчас перезагрузится!");
                                window.location.reload();
                            },
                            error: function () {
                                alert("Что то пошло не так. Обратитесь к администратору");
                            }
                        });
                    },
                    "Отмена": function () {
                        $.alert('Отменено!');
                    }
                }
            })
        });
        $(".EditMain").click(function (e) {
            var IdPersData = $(this).attr('name');
            $.confirm({
                title: 'Предупрждение!',
                content: 'Внимание вы пытаетесь поменять основго ',
                buttons: {
                    "Да": function () {
                        $.ajax({
                            url: '/PersonalData/EditMain?idPersData=' + IdPersData,
                            type: 'Get',
                            success: function (data) {
                                // alert(data + " Страница сейчас перезагрузится!");
                                window.location.reload();
                            },
                            error: function () {
                                alert("Что то пошло не так. Обратитесь к администратору");
                            }
                        });
                    },
                    "Отмена": function () {
                        $.alert('Отменено!');
                    }
                }
            })
        });
        $(".AddDoc").click(function (e) {
            var formData = new FormData();
            formData.append('FileLoad', $(this).parent().find('.file')[0].files[0]);
            formData.append('NameFile', $(this).parent().find('.NameFileFile').val());
            formData.append('Lic', $(this).parent().find('.LicFile').val());
            formData.append('idPersData', $(this).parent().find('.idPersDataFile').val());
            formData.append('Fio', $(this).parent().find('.FioFile').val());
            $.ajax({
                url: "/PersonalData/SaveFile",
                type: "POST",
                data: formData,
                async: true,
                success: function (data) {
                    alert(data.result)
                },
                error: function (data) {
                    alert('Ошибка обратитесь к системному администратору!');
                },
                cache: false,
                contentType: false,
                processData: false
            });
            return false;
        });
        $(".loader").addClass("hidden");

        $(".AddPersonalData").click(function (e) {

            var FULL_LIC = $(e.target).attr("name");
            $(".loader").removeClass("hidden");
            $.ajax({
                url: '/PersonalData/FormAddPers?FULL_LIC=' + FULL_LIC,
                async: false,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#FormAddPers").empty();
                    $("#FormAddPers").append(data);
                    $(".loader").addClass("hidden");
                },
                error: function () {
                    $(".loader").addClass("hidden");
                    alert("Что то пошло не так. Обратитесь к администратору");
                }
            });
        })
        $(".HistoryEdit").click(function (e) {
            var idPersData = $(e.target).attr("name");
            $(".loader").removeClass("hidden");
            $.ajax({
                url: '/PersonalData/HistoryEdit?idPersData=' + idPersData,
                type: 'Get',
                async: false,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $("#HistoryEdit").empty();
                    $("#HistoryEdit").append(data);
                    $(".loader").addClass("hidden");
                },
                error: function () {
                    $(".loader").addClass("hidden");
                    alert("Что то пошло не так. Обратитесь к администратору");
                }
            });
        })
        $(".Edit").click(function (e) {
            $(this).parent().find('input').prop('readonly', false);
            $(this).parent().find('textarea').prop('readonly', false);
            $('.Saled').prop('readonly', true);
            $(this).parent().find('input').removeClass('hidden');
            $(this).addClass("hidden");
            $(this).parent().find('.OVERWRITE').prop('disabled', false);
        })

        $(".Cancellation").click(function (e) {
            window.location.reload();
        })
        $(".Save").click(function (e) {
            if ($(this).parent().find('#Main').prop("checked")) {
                Main = true;
            } else {
                Main = false;
            }
            $.ajax({
                url: '/PersonalData/SavePersonalData',
                type: 'POST',
                data: JSON.stringify({
                    persDataModel: {//missing brackets
                        idPersData: $(this).attr('name'),
                        Lic: $('#Lic').val(),
                        LastName: $(this).parent().find('#LastName').val(),
                        FirstName: $(this).parent().find('#FirstName').val(),
                        MiddleName: $(this).parent().find('#MiddleName').val(),
                        DateOfBirth: $(this).parent().find('#DateOfBirth').val(),
                        PlaceOfBirth: $(this).parent().find('#PlaceOfBirth').val(),
                        PassportSerial: $(this).parent().find('#PassportSerial').val(),
                        PassportNumber: $(this).parent().find('#PassportNumber').val(),
                        PassportIssued: $(this).parent().find('#PassportIssued').val(),
                        PassportDate: $(this).parent().find('#PassportDate').val(),
                        Tel1: $(this).parent().find('#Tel1').val(),
                        Comment1: $(this).parent().find('#Comment1').val(),
                        Tel2: $(this).parent().find('#Tel2').val(),
                        Comment2: $(this).parent().find('#Comment2').val(),
                        Email: $(this).parent().find('#Email').val(),
                        Comment: $(this).parent().find('#Comment').val(),
                        UserName: $(this).parent().find('#UserName').val(),
                        DateAdd: $(this).parent().find('#DateAdd').val(),
                        RoomType: $(this).parent().find('#RoomType').val(),
                        Main: Main ,
                        IsDelete: $(this).parent().find('#IsDelete').val(),
                        SnilsNumber: $(this).parent().find('#SnilsNumber').val(),
                        Inn: $(this).parent().find('#Inn').val(),
                        NumberOfPersons: $(this).parent().find('#NumberOfPersons').val(),
                        Square: $(this).parent().find('#Square').val(),
                        StateLic: $(this).parent().find('#StateLic').val(),
                    }
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    // alert(data + " Страница сейчас перезагрузится!");
                    if (data === "") {
                        window.location.reload();
                    } else { alert(data); }
                },
                error: function () {
                    alert("Что то пошло не так. Обратитесь к администратору");
                }
            });

        })
        $(".Delete").click(function (e) {
            var IdPersData = $(this).attr('name');
            $.confirm({
                title: 'Предупрждение!',
                content: 'Внимание вы пытаетесь удалить ' + $(this).parent().find('#FIO').attr('name'),
                buttons: {
                    "Да": function () {
                        $.ajax({
                            url: '/PersonalData/DeletePersonalData',
                            type: 'POST',
                            data: JSON.stringify({
                                IdPersData: IdPersData
                            }),
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                window.location.reload();
                            },
                            error: function () {
                                alert("Что то пошло не так. Обратитесь к администратору");
                            }
                        });
                    },
                    "Отмена": function () {
                        $.alert('Отменено!');
                    }
                }
            });
        })
        $("#CloseLock").click(function () {
            window.close();
        })






    });
</script>

