@model IEnumerable<DB.Model.NotSendReceipt>
@{
    ViewBag.Title = "ErrorIntegration";
}
<style>
    

</style>
<h2>Ошибка отправки почты</h2>
<span class="loaders hidden"><div style="margin-top:-25px; color:black" >Загрузка</div></span>
<a class="btn btn-success DownloadNotSendReceiptExcels" href="/PersonalData/DownloadNotSendReceiptExcels"> Скачать в Excel </a>
<a class="btn btn-danger clearErroIntegratinLoadExcel"> Очистить список отправки </a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Лицевой счет</th>
            <th scope="col">Email</th>
            <th scope="col">Месяц</th>
            <th scope="col">Описание ошибки</th>
            <th scope="col">Тип квитанции</th>
            <th scope="col">Время отправки</th>
            <th scope="col">Количество попыток</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Items in Model)
        {
           
                <tr>
                    <td>@Items.Lic</td>
                    <td>@Items.Email</td>
                    <td>@Items.Month</td>
                    <td>@Items.ErrorDescription</td>
                    <td>@Items.TypeReceipt.GetDescriptionReceipt()</td>
                    <td>@Items.DateTimeSend</td>
                    <td>@Items.NumberAttempts</td>
                </tr>
        }
    </tbody>
</table>
<script>
    document.addEventListener("DOMContentLoaded", ready);
    $(document).ready(function (e) {
        $('.clearErroIntegratinLoadExcel').click(function () {
            $('.loaders').removeClass('hidden');
            $.ajax({
                url: '/PersonalData/CleareNotSendReceiptExcels',
                success: function (data) {
                    window.location.reload();
                   
                },
                error: function () {
                    alert("Что то пошло не так. Обратитесь к администратору!");
                }
            })
        })
    })
</script>

