@model IEnumerable<BE.PersData.PaymentHistoryResponse>
@{
    ViewBag.Title = "PaymentHistoryView";
}
<script>
    'use strict'
    window.onload = function () {
        var tableCont = document.querySelector('#table-cont')

        function scrollHandle(e) {
            var scrollTop = this.scrollTop;
            this.querySelector('tbody').style.transform = 'translateY(' + scrollTop + 'px)';
        }

        tableCont.addEventListener('scroll', scrollHandle)
    }
</script>
<style>
    .table-cont {
        max-height: 500px;
        overflow-x: auto;
    }

</style>
<button id="ClosePage" class="btn btn-success">Закрыть страницу</button>
<h2>История оплат</h2>
@if (Model.Count() > 0)
{
        <div class="row">
            <div class="col-md-12 text-center font-weight-bold">История оплат по лицевому счету № @ViewBag.LIC</div>
            <br />

        </div>
        <div class='table-cont' id='table-cont'>
            <table class="table table-bordered">
                <tbody style="background-color:white">
                    <tr>
                        <td class="text-center font-weight-bold" scope="col">Период платежа</td>
                        <td class="text-center font-weight-bold" scope="col">Дата платежа</td>
                        <td class="text-center font-weight-bold" scope="col">Сумма платежа</td>
                        <td class="text-center font-weight-bold" scope="col">Пункт оплаты</td>
                    </tr>
                </tbody>
                <tbody>
                    @foreach (var Items in Model)
                    {
                        <tr class="text-center" >
                            <td style=" white-space: pre;">@Items.PaymentDateDay.Value.ToString("MM-yyyy")</td>
                            <td style=" white-space: pre;">@Items.PaymentDate</td>
                            <td style=" white-space: pre;">@Items.TransactionAmount</td>
                            <td style=" white-space: pre;">@Items.OrganizationName</td>
                        </tr>
                    }




                </tbody>
            </table>
        </div>


<br />
}
else { <h1>Ничего не найдено по лицевому счету № @ViewBag.LIC </h1> }

<script>

    function Loader() {
        $(".loader").addClass("hidden");
    }
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
    $(document).ready(function (e) {
        setTimeout(Loader, 1000);
        $("#ClosePage").click(function () {
            window.close();
        })
    });
</script>

