@model  BE.MkdInformation.HistoryOdpuModel
@{
    ViewBag.Title = "HistoryOdpu";
}
<script>
    'use strict'
    window.onload = function () {
        var tableCont = document.querySelector('#table-cont')

        function scrollHandle(e) {
            var scrollTop = this.scrollTop;
            this.querySelector('tbody').style.transform = 'translateY(' + scrollTop + 'px)';
        }

        tableCont.addEventListener('scroll', scrollHandle)
    }
</script>
<style>
    .table-cont {
        max-height: 500px;
        overflow-x: auto;
    }

    .container {
        width: 75% !important;
    }
</style>

<div style="padding-top:50px" class="row">
    <div class="col-md-4">
        <button id="ClosePage" class="btn btn-success">Закрыть страницу</button>
    </div>
    <div class="col-md-8">
        <p style="font-size: 14px; font-weight: bolder; margin-top:20px;">
            История ОДПУ по адресу @Model.addressMKD.StreetType
            @Model.addressMKD.Street
            @Model.addressMKD.House
            @Model.addressMKD.Building
        </p>
    </div>
</div>

<div id="print">
    <div class='table-cont' style="" id='table-cont'>
        <table class="table table-bordered">
            <tbody style="background-color:white">
                <tr>
                    <td scope="col" class="font-weight-bold text-center" rowspan="2">Период</td>
                    <td scope="col" class="font-weight-bold text-center" rowspan="2">Услуга</td>
                    <td scope="col" class="font-weight-bold text-center" rowspan="2">Расход по домовому прибору учета </td>
                    <td scope="col" class="font-weight-bold text-center" colspan="3">Расходы в жилых и нежилых помещениях</td>
                    <td scope="col" class="font-weight-bold text-center" rowspan="2">Расход ОДН</td>
                </tr>
                <tr>
                    <td scope="col" class="font-weight-bold text-center" colspan="1">По ИПУ</td>
                    <td scope="col" class="font-weight-bold text-center" colspan="1">По нормативам</td>
                    <td scope="col" class="font-weight-bold text-center" rowspan="1">Нежилые помещения</td>
                </tr>
            </tbody>
            <tbody>
                @foreach (var Item in Model.addressReadings)
                {
                    <tr>
                        <td scope="col" style="text-align: center; vertical-align: middle;" class="font-weight-bold text-center" rowspan="4">@Item.Period.ToString("MMMM yyyy")</td>
                    </tr>
                    <tr>
                        <td scope="col">Отопление</td>
                        <td scope="col">@Item.DpuHeating</td>
                        <td scope="col">@Item.IpuHeating</td>
                        <td scope="col">@Item.NormHeating</td>
                        <td scope="col">@Item.NonResidentialPremisesHeating</td>
                        <td scope="col">@Item.OdnHeating</td>
                    </tr>
                    <tr>
                        <td scope="col">ГВС компонент ТЭ</td>
                        <td scope="col"></td>
                        <td scope="col">@Item.IpuGvsThermalEnergy</td>
                        <td scope="col">@Item.NormGvsThermalEnergy</td>
                        <td scope="col">@Item.NonResidentialPremisesThermalEnergy</td>
                        <td scope="col"></td>
                    </tr>
                    <tr>
                        <td scope="col">ГВС компонент ХВ</td>
                        <td scope="col">@Item.DpuGvsColdWater</td>
                        <td scope="col">@Item.IpuGvsColdWater</td>
                        <td scope="col">@Item.NormGvsColdWater</td>
                        <td scope="col">@Item.NonResidentialPremisesColdWater</td>
                        <td scope="col">@Item.OdnGvsColdWater</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
    <input type="button" class="btn btn-primary printDiv" id="" value="Печать справки" />
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
        $(document).ready(function (e) {
            $("#ClosePage").click(function () {
                window.close();
            })
            $(".printDiv").click(function () {
                $('#table-cont').removeClass('table-cont');
                $('#table-cont').children().find('tbody').removeAttr('style');
                var printContents = document.getElementById('print').innerHTML;
                var originalContents = document.body.innerHTML;

                document.body.innerHTML = printContents;

                window.print();
                window.location.reload();
                document.body.innerHTML = originalContents;
            })
        });
    </script>
