@model IEnumerable<BE.MkdInformation.ListFlatsModel>
@{
    ViewBag.Title = "Список помещений";
}
<script>
    'use strict'
    window.onload = function () {
        var tableCont = document.querySelector('#table-cont')

        function scrollHandle(e) {
            var scrollTop = this.scrollTop;
            this.querySelector('tbody').style.transform = 'translateY(' + scrollTop + 'px)';
        }

        tableCont.addEventListener('scroll', scrollHandle)
    }
</script>
<style>
    .container {
        width: 80% !important;
    }

    .table-cont {
        max-height: 500px;
        overflow-x: auto;
    }
</style>
<button id="ClosePage" class="btn btn-success">Закрыть страницу</button>
@if (Model.Count() > 0)
{
    <div class="row">
        <div class="col-md-12 text-center font-weight-bold">Список помещений по адресу: @ViewBag.Address</div>
        <br />

    </div>
    <div class='table-cont' id='table-cont'>
        <table class="table table-bordered">
            <tbody style="background-color:white">
                <tr>
                    <td class="text-center font-weight-bold" scope="col">Номер помещения</td>
                    <td class="text-center font-weight-bold" scope="col">Тип помещения</td>
                    <td class="text-center font-weight-bold" scope="col">Лицевой счет</td>
                    <td class="text-center font-weight-bold" scope="col">Площадь</td>
                    <td class="text-center font-weight-bold" scope="col">Количество проживающих</td>
                    <td class="text-center font-weight-bold" scope="col">ФИО</td>
                    <td class="text-center font-weight-bold" scope="col">ELS</td>

                </tr>
            </tbody>
            <tbody>
                @foreach (var Items in Model)
                {

                    <tr class="text-center">
                        <td style=" white-space: pre;">@Items.FlatNumber</td>
                        <td style=" white-space: pre;">@Items.FlatType</td>
                        <td style=" white-space: pre;"><a href="/PersonalData/PersonalInformation?FullLic=@Items.FullLic" target="_blank">@Items.FullLic</a></td>
                        <td style=" white-space: pre;">@Items.TotalSquare</td>
                        <td style=" white-space: pre;">@Items.NumberOfPersons</td>
                        <td style=" white-space: pre;">@Items.FIO</td>
                        <td style=" white-space: pre;">@Items.Els</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <button id="DownloadExcel" class="btn btn-primary text-center">Скачать excel</button>

    <br />
}
else
{ <h1>Ничего не найдено</h1>}

<script>

    function Loader() {
        $(".loader").addClass("hidden");
    }
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
    $(document).ready(function (e) {
        setTimeout(Loader, 1000);
        $("#ClosePage").click(function () {
            window.close();
        })
        $("#DownloadExcel").click(function () {
            window.open('/MKD/ListFlatsExcel?AddressId=' + @ViewBag.AddressId + '&Address=@ViewBag.Address','_blank');
        })
    });
</script>