@model BE.MkdInformation.MainInformationModel
@using BL.Extention;
@{
    ViewBag.Title = "MKDInformation";
    var Index = 0;
    string Building = string.Empty;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

@if (Model != null)
{
    Building = string.IsNullOrEmpty(Model.AddressMKD.Building) ? "" : $"{Model.AddressMKD.Building}";
    <div class="container">
        <h3 class="text-center">Детальная информация по @Model.AddressMKD.StreetType @Model.AddressMKD.Street @Model.AddressMKD.House @Building </h3>
        @if (Model.AddressMKD.Closed == true)
        {
            <p class="text-center NullOrEmpty"> Дом закрыт. @(Model.AddressMKD.CloseDate.HasValue ? $"Период закрытия: {Model.AddressMKD.CloseDate.Value.ToString("MMMM yyyy")}" : "") </p>
        }
        <div class="col-md-12">
            <button id="CloseLock" name="@Model.AddressMKD.AddressId" class="btn btn-success">Закрыть страницу</button>
        </div>
    </div>
    <div class="row">
        <div style="margin-top:10px;" class="card">
            <hr />
            <div class="card-body field">
                <div class="container">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Код дома:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="LastName" class="form-control" value="@Model.AddressMKD.AddressId" />
                                </div>
                                <label class="col-sm-4 col-form-label">Улица:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="FirstName" class="form-control " value="@Model.AddressMKD.Street" />
                                    @*<input type="date" readonly="readonly" id="INSTALLATIONDATE" class="form-control" value="@string.Format("{0:yyyy-MM-dd}", Items.MiddleName)" />*@
                                </div>
                                <label class="col-sm-4 col-form-label">Дом:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="MiddleName" class="form-control " value="@Model.AddressMKD.House" />
                                </div>
                                <label class="col-sm-4 col-form-label">Корпус:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="DateOfBirth" class="form-control " value="@Model.AddressMKD.Building" />
                                </div>
                                <label class="col-sm-4 col-form-label">Уникальный номер дома:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="UniqueHomeNumber" class="form-control " value="@Model.AddressMKD.UniqueHomeNumber" />
                                </div>
                                <label class="col-sm-4 col-form-label">Код Фиас ГИС:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Fias" class="form-control " value="@Model.AddressMKD.Fias" />
                                </div>
                                <label class="col-sm-4 col-form-label">Код Фиас Кадастр:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="FiasCadastr" class="form-control " value="@Model.AddressMKD.FiasCadastr" />
                                </div>
                                <label class="col-sm-4 col-form-label">Кадастровый номер МКД:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="CadstrNumberMKD" class="form-control SnilsNumber" value="@Model.AddressMKD.CadstrNumberMKD" />
                                </div>
                                <label class="col-sm-4 col-form-label">Код строения Т+:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="TPlusGuid" class="form-control SnilsNumber" value="@Model.AddressMKD.TPlusGuid" />
                                </div>
                                <div class="col-sm-12" style="margin-top:30px"></div>
                                <label class="col-sm-4 col-form-label">Наличие ГВС:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@Model.AddressMKD.Gvs.BoolToString()" />
                                </div>
                                <label class="col-sm-4 col-form-label">Наличие ОДПУ на ГВС:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@Model.AddressMKD.OdpuGvs.BoolToString()" />
                                </div>
                                <label class="col-sm-4 col-form-label">Начало расчета ГВС:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@string.Format("{0:MMMM yyyy}", Model.AddressMKD.GvsBeginningPeriod)" />
                                </div>
                                <label class="col-sm-4 col-form-label">Наличие ОДПУ на ОТП:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@Model.AddressMKD.OdpuOtp.BoolToString()" />
                                </div>
                                <label class="col-sm-4 col-form-label" style=" white-space: pre-wrap;">Начало расчета ОТП:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@string.Format("{0:MMMM yyyy}", Model.AddressMKD.OtpBeginningPeriod)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="col-sm-12 text-center">
                                    <p>Площадь МКД</p>
                                </div>
                                <label class="col-sm-4 col-form-label">Общая площадь дома:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@Model.AddressMKD.Soifl" />
                                </div>
                                <label class="col-sm-4 col-form-label">Общая площадь ЖП:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@Model.AddressMKD.Sgil" />
                                </div>
                                <label class="col-sm-4 col-form-label">Общая площадь НП:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@Model.AddressMKD.Snez" />
                                </div>
                                <label class="col-sm-4 col-form-label">Общая площадь НеотпП:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@Model.AddressMKD.Snotp" />
                                </div>
                                <label class="col-sm-4 col-form-label">Общая площадь МОП:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@Model.AddressMKD.Smop" />
                                </div>
                                <div class="col-sm-12 text-center">
                                    <p>Тарифы:</p>
                                </div>
                                <label class="col-sm-4 col-form-label">Тариф ТЭ на отопление:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@Model.AddressMKD.Tarif2" />
                                </div>
                                <label class="col-sm-4 col-form-label">Тариф ТЭ на ГВС:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@Model.AddressMKD.Tarif3" />
                                </div>
                                <label class="col-sm-4 col-form-label">Тариф ХВС на ГВС:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@Model.AddressMKD.Tarif5" />
                                </div>
                                <div class="col-sm-12 text-center">
                                    <p>Нормативы:</p>
                                </div>
                                <label class="col-sm-4 col-form-label">Норматив ОТП:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@(Model.AddressMKD.NormOtp.HasValue ? @Math.Round(Model.AddressMKD.NormOtp.Value, 4) : 0)" />
                                </div>
                                <label class="col-sm-4 col-form-label">Норматив ТЭ на ГВС:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@(Model.AddressMKD.NormGvs.HasValue ? @Math.Round(Model.AddressMKD.NormGvs.Value, 3) : 0)" />
                                </div>
                                <label class="col-sm-4 col-form-label">Норматив ХВ на ГВС:</label>
                                <div class="col-sm-8">
                                    <input type="text" readonly="readonly" tabIndex="@Index@{Index++;}" id="Inn" class="form-control Inn" value="@(Model.AddressMKD.NormHvs.HasValue ? @Math.Round(Model.AddressMKD.NormHvs.Value, 3) : 0)" />
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="col-md-12 text-center" style="font-size: 14px; font-weight: bolder; ">Состояние ОДПУ @Model.AddressReadings.Period.ToString("MMMM yyyy")</div>
                    <table class="table table-bordered">
                        <tbody style="background-color:white">
                            <tr>
                                <td scope="col" class="font-weight-bold text-center" rowspan="2">Услуга</td>
                                <td scope="col" class="font-weight-bold text-center" rowspan="2">Расход по домовому прибору учета </td>
                                <td scope="col" class="font-weight-bold text-center" colspan="3">Расходы в жилых и нежилых помещениях</td>
                                <td scope="col" class="font-weight-bold text-center" rowspan="2">Расход ОДН</td>
                            </tr>
                            <tr>
                                <td scope="col" class="font-weight-bold text-center" colspan="1">По ИПУ</td>
                                <td scope="col" class="font-weight-bold text-center" colspan="1">По нормативам</td>
                                <td scope="col" class="font-weight-bold text-center" rowspan="1">Нежилые помещения</td>
                            </tr>
                            <tr>
                                <td scope="col">Отопление</td>
                                <td scope="col">@Model.AddressReadings.DpuHeating</td>
                                <td scope="col">@Model.AddressReadings.IpuHeating</td>
                                <td scope="col">@Model.AddressReadings.NormHeating</td>
                                <td scope="col">@Model.AddressReadings.NonResidentialPremisesHeating</td>
                                <td scope="col">@Model.AddressReadings.OdnHeating</td>
                            </tr>
                            <tr>
                                <td scope="col">ГВС компонент ТЭ</td>
                                <td scope="col"></td>
                                <td scope="col">@Model.AddressReadings.IpuGvsThermalEnergy</td>
                                <td scope="col">@Model.AddressReadings.NormGvsThermalEnergy</td>
                                <td scope="col">@Model.AddressReadings.NonResidentialPremisesThermalEnergy</td>
                                <td scope="col"></td>
                            </tr>
                            <tr>
                                <td scope="col">ГВС компонент ХВ</td>
                                <td scope="col">@Model.AddressReadings.DpuGvsColdWater</td>
                                <td scope="col">@Model.AddressReadings.IpuGvsColdWater</td>
                                <td scope="col">@Model.AddressReadings.NormGvsColdWater</td>
                                <td scope="col">@Model.AddressReadings.NonResidentialPremisesColdWater</td>
                                <td scope="col">@Model.AddressReadings.OdnGvsColdWater</td>
                            </tr>
                        </tbody>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="col-md-6 text-center">
                        <div class="btn btn-primary" id="HistoryOdpu">История ОДПУ</div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="btn btn-primary HistoryRecalculation" id="HistoryOdpu">История перерасчетов МКД</div>
                    </div>
                </div>

            </div>

        </div>

    </div>
}
else
{
    <div class="container">
        <h3 class="text-center"></h3>
        <h1 class="text-center NullOrEmpty"> Ничего не найдено</h1>
        <div class="col-md-12">
            <button id="CloseLock" class="btn btn-success">Закрыть страницу</button>
        </div>
    </div>
}
@{var FullAddress = $"{Model.AddressMKD.StreetType} {Model.AddressMKD.Street} {Model.AddressMKD.House}";}
<script>
    $(document).ready(function () {
        $("#HistoryOdpu").click(function () {

        });
        $("#CloseLock").click(function () {
            window.close();
        });
        $("#HistoryOdpu").click(function (e) {
            var Date = "@DateTime.Now.Date.ToString("yyyy-MM")";
            console.log(Date);
            $.confirm({
                title: 'История ОДПУ',
                content: '' +
                    '<form action="" class="formName">' +
                    '<div class="form-group">' +
                    '<label>С какой даты</label>' +
                    '<input type="month" min="2017-01" value="2017-01" placeholder="" id="DateFrom" class="form-control" />' +
                    '<label>По какую даты</label>' +
                    '<input type="month" min="2017-01" value="'+Date+'" placeholder="" id="DateTo" class="form-control" />' +
                    '</div>' +
                    '</form>',
                buttons: {
                    "Просмотр": function () {
                        var datefrom = $("#DateFrom").val();
                        var dateto = $("#DateTo").val();
                        $.ajax({
                            success: function (data) {
                                window.open(`/MKD/HistoryOdpu?Id=@Model.AddressMKD.AddressId&DateFrom=${datefrom}&DateTo=${dateto}`,"_blanck");
                            },
                            error: function () {
                                alert("Что то пошло не так. Обратитесь к администратору");
                            }
                        });
                    },
                    "Отмена": function () {

                    }
                }
            })
        });
        $(".HistoryRecalculation").click(function (e) {
                $.confirm({
                    title: 'История перерасчетов',
                    content: '' +
                        '<form action="" class="formName">' +
                        '</form>',
                    buttons: {
                        "Просмотреть": function () {
                            window.open('/MKD/HistoryRecalculationView?AddressId=' + @Model.AddressMKD.AddressId + '&Address=@FullAddress','_blank');
                        },
                        "Отмена": function () {

                        }
                    }
                })
            });
    });
</script>


