@model IEnumerable<DB.Model.DPUHelpCalculationInstallationView>
@{
    ViewBag.Title = "WatchHelpСalculation";
    var DPU = @Model.LastOrDefault();
}
<script>
    'use strict'
    window.onload = function () {
        var tableCont = document.querySelector('#table-cont')

        function scrollHandle(e) {
            var scrollTop = this.scrollTop;
            this.querySelector('tbody').style.transform = 'translateY(' + scrollTop + 'px)';
        }

        tableCont.addEventListener('scroll', scrollHandle)
    }
</script>
<style>
    .table-cont {
        max-height: 500px;
        overflow-x: auto;
    }

    .container {
        width: 95% !important;
    }
</style>
<div style="margin-left:180px;">
    <button id="ClosePage" class="btn btn-success">Закрыть страницу</button>
    <input type="button" class="btn btn-primary printDiv" id="" value="Печать справки" />
</div>
<h2>Справка расчет</h2>
@if (Model.Count() > 0)
{

    <div id="print">
        <div class="row">
            <div class="col-md-12 text-center font-weight-bold">Справка по лицевому счету № @DPU.NewFullLic</div>
            <br />
            <div class="col-md-12">
                <p>Расчет размера платы за Установку ОДПУ по лицевому счету  @DPU.NewFullLic</p>
                <p>Адрес жилого помещения: ул  @DPU.Street дом @DPU.Home кв. @DPU.Flat</p>
                <p>Площадь жилого помещения: @DPU.Sobs</p>
                <p>Доля в праве общей стоимости: @DPU.ShareInCommonOwnership</p>
                <p>Общая площадь МКД: @DPU.TotalAreaMKD</p>
                <p>Общая площадь жилых помещений: @DPU.TotalAreaMKDResidentialPremises</p>
                <p>Общая площадь нежилых помещений:@DPU.TotalAreaMKDNonResidentialPremises</p>

                <p>Стоимость установки ОДПУ ТЭ: @DPU.TotalCostOdpu</p>
                <p>Стоимость установки ОДПУ ТЭ для жилых помещений: @DPU.TotalCostOdpuResidentialPremises</p>
                <p>Стоимость установки ОДПУ ТЭ для нежилых помещений: @DPU.TotalCostOdpuNonResidentialPremises</p>
                <p>Единовременный платеж: @DPU.OneTimePayment</p>

                <p>Расчет при выборе платежа с рассрочкой.Оплата в рассрочку сроком до 5 лет ежемесячно, с оплатой процентов за предоставление рассрочки в размере ставки рефинансирования ЦБ РФ, действующей на дату начисления:</p>
               
            </div>
        </div>
        <div class='table-cont' id='table-cont'>
            <table class="table table-bordered">
                <tbody style="background-color:white">
                    <tr>
                        <td class="text-center font-weight-bold" scope="col">Период</td>
                        <td class="text-center font-weight-bold" scope="col">Процентная ставка</td>
                        <td class="text-center font-weight-bold" scope="col">Начислено основной платеж с рассрочкой</td>
                        <td class="text-center font-weight-bold" scope="col">Начислено процентов</td>
                        <td class="text-center font-weight-bold" scope="col">Итого Платеж с рассрочкой</td>
                        <td class="text-center font-weight-bold" scope="col">Оплачено Основной долг</td>
                        <td class="text-center font-weight-bold" scope="col">Оплачено проценты</td>
                        <td class="text-center font-weight-bold" scope="col">Итого Оплачено</td>
                        <td class="text-center font-weight-bold" scope="col">К оплате с учетом задолжен./ переплаты платежа с рассрочкой</td>
                        <td class="text-center font-weight-bold" scope="col">Сальдо на конец периода Основной долг</td>
                        <td class="text-center font-weight-bold" scope="col">Сальдо на конец периода проценты</td>
                    </tr>
                   
                </tbody>
                <tbody>

                    @{ 
                        double? AccruedMainPayment = 0;
                        double? AccruedPercentage = 0;
                        double? PaymentMainDebt = 0;
                        double? PercentagePayment = 0;
                        double? Paid = 0;
                    }
                    @foreach (var Items in Model)
                    {
                        if(Items != null) { 
                        <tr>
                            <td style=" white-space: pre;">@Items.Period.ToString("MM.yyyy")</td>
                            <td>@Math.Round(Items.PercentageRate.Value, 2)</td>
                            <td>@Math.Round(Items.AccruedMainPayment.Value, 2)</td>
                            @{AccruedMainPayment = Items.AccruedMainPayment + AccruedMainPayment;}
                            <td>@Math.Round(Items.AccruedPercentage.Value, 2)</td>
                            @{AccruedPercentage = Items.AccruedPercentage + AccruedPercentage;}
                            <td>@Math.Round(Items.TotalAccrued.Value, 2)</td>
                            <td>@Math.Round(Items.PaymentMainDebt.Value, 2)</td>
                            @{PaymentMainDebt = Items.PaymentMainDebt + PaymentMainDebt;}
                            <td>@Math.Round(Items.PercentagePayment.Value, 2)</td>
                            @{PercentagePayment = Items.PercentagePayment + PercentagePayment;}
                            <td>@Math.Round(Items.Paid.Value, 2)</td>
                            @{Paid = Items.Paid + Paid;}
                            <td>@Math.Round(Items.ToPay.Value, 2)</td>
                            <td>@Math.Round(Items.SaldoEndPeriodDebt.Value, 2)</td>
                            <td>@Math.Round(Items.SaldoEndPeriodPercentage.Value, 2)</td>
                        </tr>
                        }
                    }
                    <tr>
                        <td style=" white-space: pre;"><label>Итого:</label></td>
                        <td></td>
                        <td>@Math.Round(AccruedMainPayment.Value, 2)</td>
                        <td>@Math.Round(AccruedPercentage.Value, 2)</td>
                        <td></td>
                        <td>@Math.Round(PaymentMainDebt.Value, 2)</td>
                        <td>@Math.Round(PercentagePayment.Value, 2)</td>
                        <td>@Math.Round(Paid.Value, 2)</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
    </div>
    <input type="button" class="btn btn-primary printDiv" id="" value="Печать справки" />
}
<script>

    function Loader() {
        $(".loader").addClass("hidden");
    }
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
    $(document).ready(function (e) {
        setTimeout(Loader, 1000);
        $("#ClosePage").click(function () {
            window.close();
        })
        $("#PrintHelpCalculation").click(function () {
            $(".Print").printArea();
        })
        $(".printDiv").click(function () {
            $('#table-cont').removeClass('table-cont');
            $('#table-cont').children().find('tbody').removeAttr('style');
            var printContents = document.getElementById('print').innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();
            window.location.reload();
            document.body.innerHTML = originalContents;
        })
    });
</script>
